doctype html
html(lang="en", class=type)
	- const titleNbspSafe = title.replace(/&nbsp;/g, ' ');
	- const permalink = `${website.url}${urlPath}`;
	include helpers/mixins

	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		title= `${titleNbspSafe}${urlPath === '/' ? '' : ' • CSSence.com'}`
		meta(name="description", content!=description)
		include fragments/styles
		include fragments/seo
		include fragments/manifest
		script(src="/assets/ctm.js")

	body#top
		main
			#{layout === 'index.pug' ? 'div' : 'article'}(aria-labelledby=(layout === 'index.pug' ? null : "content"))
				block content
		include fragments/navigation
		include fragments/footer 
