extends base.pug

block content
	include fragments/hero

	- const isHome = urlPath === '/';
	block intro
		div
			if isHome
				style(media="screen", aria-hidden="true")
					include ../public/assets/home.css
			!= contents

	each section in sections || [{}]
		section.posts

			- let cards;
			- const placement = section.posts;
			- if (placement) cards = posts.filter((post) => placement.includes(post.urlPath));
			- if (placement) cards.sort((a, b) => placement.indexOf(a.urlPath) - placement.indexOf(b.urlPath));
			- if (!placement) cards = getFilteredPosts(posts, section.query || urlPath);
			- const numberOfPostsInCategory = cards.length;
			- const latestOnly = section.limit && numberOfPostsInCategory > section.limit;
			- if (latestOnly) cards = cards.slice(0, section.limit);
			- if (urlPath === '/about/about/') cards.sort((a, b) => b.revised - a.revised);
			- var listLabel = section.id || 'overview';
			h2(id=listLabel)= section.name || (latestOnly ? 'Latest posts' : 'All posts')
			#{isHome || !section.id ? 'ul' : 'ol'}(role="list", aria-labelledby=listLabel)
				each card in cards
					li(class=card.type)
						h3
							a(href=card.urlPath)!= card.title
						p!= card.description
						- const banner = card;
						include fragments/banner

			if !section.id
				p
					- const writtenForm = (n) => countLong[n] ? countLong[n].toLowerCase() : n;
					if latestOnly
						= `The list above contains only the ${writtenForm(section.limit)} most recent entries.`
						= ` In this section alone, there are ${writtenForm(numberOfPostsInCategory)} blog posts, and there are other sections on this site.`
					else
						= `The list above contains ${writtenForm(numberOfPostsInCategory)} entries, but there are a lot more in other sections on this site.`
					= ' To see what else is going on, you may want to head over to the '
					a(href="/") home page
					= ' or browse using the '
					a(href="#navigation") navigation
					= ' below.'

	include fragments/metadata
