#{orderedCards ? 'ol' : 'ul'}.cards
	each card in cards
		li.card(class=card.type)
			h3
				a(href=card.urlPath)!= card.title
			p!= card.description
			- const banner = card
			include banner
			p.teaser(class=card.thumbnail.default && 'fallback', aria-hidden="true")
				img(src=card.thumbnail.url, alt="")
