section
	- const thread = conversation || [];
	- const threadHook = thread.filter((c) => c.id)[0] || thread.filter((c) => !c.author)[0];
	- const threadLength = thread.length - (threadHook && threadHook.id === 'comment-0' ? 1 : 0);
	h3#contribute= threadLength ? 'Join the conversation' : 'Start the conversation'
	p
		- const commentUrlValue = threadHook ? threadHook.url.split('/').pop() : encodeURIComponent(`@cssence ${permalink} `)
		a(href=`https://twitter.com/intent/tweet${threadHook ? '?in_reply_to=' : '?text='}${commentUrlValue}`) Have your say
		= ' on Twitter, or simply '
		- const shareUrlValue = encodeURIComponent(`“${titleNbspSafe}” ${permalink} by @cssence`)
		a(href=`https://twitter.com/intent/tweet?text=${shareUrlValue}`)= `share this ${layout === 'note.pug' ? 'thread' : 'article'}`
		= '.'
