- let messageNumber = 0;
each message in conversation
	- const hasContent = !message.unavailable;
	- const showContent = message.id !== 'comment-0';
	- if (showContent) messageNumber += 1;
	article(data-unavailable=message.unavailable, hidden=!showContent)
		h3(id=(message.id || `comment-${messageNumber}`))
			if hasContent
				- const author = getAuthor(message, order);
				- const linkOrNot = author.url ? 'a' : 'span';
				- const byCuratorOrElse = author.url ? (message.author ? 'author' : 'me author') : undefined;
				#{linkOrNot}(rel=byCuratorOrElse, href=author.url)= author.name
				= ' wrote on '
				- const timestampOptions = { timePrefix: ' at ' };
				if !message.url.startsWith('https://medium.com/@cssence')
					a(href=message.url)
						+ts(message.posted, timestampOptions)
				else
					+ts(message.posted, timestampOptions)
			else
				= `Comment ${messageNumber} is unavailable`
		if hasContent
			- const text = message.text.replace(/\[([^\]]+)\]\(([^)]+)\)/g, '<a href="$2">$1</a>');
			if message.text.startsWith('<')
				!= text
			else
				p
					!= text
			if message.image
				p
					img(src=message.image.url, data-origin=message.image.remoteUrl, alt=message.image.alt)
					if message.image.credit
						small.credit
							= ` — Image by ${message.image.credit.name} `
							a(href=message.image.credit.origin)= `(Source: ${message.image.credit.via})`

		else
			p Legal or technical reasons may be the cause.
