each message, messageIndex in conversation
	- var showContent = !message.unavailable
	article.conversation-item(class=!showContent&&"-unavailable")
		h3.conversation-item-metadata(id="comment-" + (messageIndex + 1))
			if showContent
				- var linkOrNot = message.author.url ? "a" : "span"
				- var showHandleOnlyOnce = message.author.name ? message.author.id : undefined
				- var byCuratorOrElse = message.author.url ? (message.author.id === "@CSSence" ? "me author" : "author") : undefined
				#{linkOrNot}.avatar(rel=byCuratorOrElse, data-id=showHandleOnlyOnce, href=message.author.url)= message.author.name || message.author.id
				= " wrote on "
				- var timestampOptions = { timePrefix: " at " }
				if message.url && !message.url.startsWith("https://medium.com/@cssence")
					a(href=message.url)
						+ts(message.posted, timestampOptions)
				else
					+ts(message.posted, timestampOptions)
			else
				|	Comment ##{messageIndex + 1} is unavailable
		.conversation-item-content
			if showContent
				p
					!= message.text.replace(/\[([^\]]+)\]\(([^)]+)\)/g, "<a href=\"$2\">$1</a>")
				if message.image
					p
						img(src=message.image.url, alt=message.image.alt)
						if message.image.credit
							- var credit = message.image.credit
							include credit
			else
				p Legal or technical reasons may be the cause.
