article.screen
	h3.subtle#contribute= conversation ? 'Join the conversation' : 'Start the conversation'
	p
		- const syndicationTwitter = syndication && syndication.filter((item) => item.url.includes('twitter'))[0]
		- const commentUrlValue = syndicationTwitter ? syndicationTwitter.url.split('/').pop() : encodeURIComponent(`@cssence ${permalink} `)
		a(href=`https://twitter.com/intent/tweet${syndicationTwitter ? '?in_reply_to=' : '?text='}${commentUrlValue}`) Have your say
		= ' on Twitter, or simply '
		- const titleUrlSafe = title.replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&')
		- const shareUrlValue = encodeURIComponent(`“${titleUrlSafe}” ${permalink} by @cssence`)
		- const sharePostTypeMap = {bookmark: 'thread', opinion: 'thread', code: 'code example'}
		a(href=`https://twitter.com/intent/tweet?text=${shareUrlValue}`)= `share this ${sharePostTypeMap[group] || 'article'}`
		= '.'
