footer.metadata
	- const pageTypeMap = {'/': 'site', 'index.pug': 'index page', 'note.pug': 'thread', 'internal.pug': 'page'};
	h2#about-post= `About this ${pageTypeMap[urlPath] || pageTypeMap[layout] || 'article'}`
	address
		p
			= layout === 'index.pug' ? 'Curated' : 'Written'
			= ' by '
			a(rel="author", href=`${website.url}/about/matt/`) Matthias Zöchling
			= (layout === 'note.pug' && conversation && conversation.filter((item) => item.author).length) ? ' et al.' : '.'
	if published
		p
			if !origin
				= 'Published'
			else
				= `Originally ${conversation && conversation[0].author ? 'responded' : 'published'} on `
				if !origin.includes('medium') && !origin.includes('wordpress')
					a(href=origin)= origin.split('/')[2]
				else
					= origin.split('/')[2]
			= ' on '
			+ts(published)
			= '.'
	if revised && (!published || revised.toISOString().slice(0, 10) !== published.toISOString().slice(0, 10))
		p
			= 'Last revised on '
			+ts(revised)
			= '.'
	p
		a(href=permalink)= `Permalink: ${permalink}`
