- const syndicated = syndication ? syndication[0] : {}
footer.metadata
	- const pageTypeMap = {'index.pug': 'index page', 'note.pug': 'thread', 'internal.pug': 'page', code: 'code example'}
	h2#about-post.subtle= `About this ${urlPath === '/' ? 'site' : (pageTypeMap[layout] || pageTypeMap[group] || 'article')}`
	address.print
		p
			= layout === 'index.pug' ? 'Curated' : 'Written'
			= ' by '
			a(rel="author", href=`${website.url}/about/matt`) Matthias Zöchling
			= (conversation && conversation.filter((item) => item.author).length) ? ' et al.' : '.'
	if published
		p
			if syndicated.published || !syndicated.url
				= 'Published'
			else
				= `Originally ${conversation && conversation[0].author ? 'responded' : 'published'} on `
				if !syndicated.url.includes('medium') && !syndicated.url.includes('wordpress')
					a(href=syndicated.url)= syndicated.url.split('/')[2]
				else
					= syndicated.url.split('/')[2]
			= ' on '
			+ts(published)
			= '.'
			if syndicated.published && !syndicated.url.includes('twitter') && !syndicated.url.includes('medium')
				= ' Syndicated to '
				a(href=syndicated.url)= syndicated.url.split('/')[2]
				= '.'
	if revised && (!published || revised.toISOString().slice(0, 10) !== published.toISOString().slice(0, 10))
		p= 'Last revised on '
			+ts(revised)
			= '.'
	p.print
		= 'Permalink: '
		a(href=permalink)= permalink
