nav.screen
	h2.subtle.visually-hidden#navigation Where to go from here?
	ul.nav
		li
			a.c-default(rel="home", href="/", accesskey="1") Home
				span.branding.mood(class=type, aria-hidden="true")
					span.print= ' of '
					include ../../assets/img/logo-grayscale.svg
					| #[abbr CSS]ence.com
					span.print= ' - '
					em.tagline The Essence of CSS
		each section, index in ['Articles', 'Notes', 'About']
			li
				- const sectionHref = `/${section.toLowerCase()}/`
				- const sectionClassName = sectionHref.slice(0, sectionHref.endsWith('s/') ? -2 : -1).replace('/', 'c-')
				a(class=sectionClassName, href=sectionHref, accesskey=index+2)= section
	h3.visually-hidden#navigation-advanced Find popular posts or browse by year
	.nav-more
		ul
			li
				a(href="/popular/") Most popular
			- let yearTitle = website.years.to + 1
			while --yearTitle >= website.years.from
				li
					- const yearUrl = `/${yearTitle}/`
					a(href=yearUrl)
						time= yearTitle
