nav
	h2.visually-hidden#navigation Where to go from here?
	ul(role="list", aria-label="Menu")
		li
			a.c-default(rel="home", href="/", accesskey="1")
				span(hidden, aria-hidden="true")= '01 '
				| Home
				span(class=type, aria-hidden="true", data-hl="Home")
					include ../../assets/logo.svg
		li
			a.c-article(href="/articles/", accesskey="2")
				span(hidden, aria-hidden="true")= '02 '
				| Articles
		li
			a.c-note(href="/notes/", accesskey="3")
				span(hidden, aria-hidden="true")= '03 '
				| Notes
		li
			a.c-about(href="/about/", accesskey="4")
				span(hidden, aria-hidden="true")= '04 '
				| About
		li
			a(href="/popular/", accesskey="5")
				span(hidden, aria-hidden="true")= '05 '
				| Popular
		li
			a(href=`/${website.years.to}/`, accesskey="6")
				span(hidden, aria-hidden="true")= '06 '
				| This year
		li
			a(href=`/${website.years.to - 1}/` , accesskey="7")
				span(hidden, aria-hidden="true")= '07 '
				| Last year
		li
			a(href="/archive/", accesskey="8")
				span(hidden, aria-hidden="true")= '08 '
				| Archive
