nav.screen
	h2.subtle.visually-hidden#navigation Where to go from here?
	ul.nav
		li
			a.c-default(rel="home", href="/", accesskey="1") Home
				span.branding.mood(class=className, aria-hidden="true")
					span.print= " of "
					include ../../assets/img/logo-grayscale.svg
					|	#[abbr CSS]ence.com
					span.print= " - "
					em.tagline The Essence of CSS
		each section, index in ["Articles", "Notes", "About"]
			li
				- var sectionHref = "/" + section.toLowerCase()
				a(class=sectionHref.replace("/", "c-"), href=sectionHref, accesskey=index+2)= section
	h3.visually-hidden#navigation-advanced Find popular posts, or browse by year
	.nav-more
		ul
			li
				a(href="/popular") Most popular
			- var yearTitle = website.years.to + 1
			while --yearTitle >= website.years.from
				li
					- var yearUrl = "/" + yearTitle
					a(href=yearUrl)= yearTitle
